:root {
  --white-color: #fefefe;
  --green-color: #b8ff66;
  --dark-color: #181a23;
  --light-color: #f2f2f2;
  --light-dark: #0f0f13;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  background-color: var(--dark-color);
  color: var(--white-color);
  white-space: nowrap;
  border-radius: 5rem;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--light-dark);
}

.nav-bar .logo {

}

nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}



.nav ul{
    
}